#insertion-section {
    margin: 20px auto;
    padding: 5vh;
    width: 65vw;
    border-radius: 10px;
    background-color: #2e4763;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-fields {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    .input-fields {
        flex-direction: column;
    }
}

.input-div {
    display: flex;
    justify-content: end;
    margin: 10px;
}

label {
    padding-left: 10px;
    padding-right: 10px;
}

input,
select {
    margin-left: 3rem;
    width: 12rem;
    height: 1.8rem;
    line-height: 1.2rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12.2rem;
    padding-left: 3px;
    background: url('/arrow-down.svg') no-repeat right #0d1b2a;
}

#enter-button {
    margin-top: 2em;
    width: 4.5rem;
    height: 3rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    #insertion-section {
        padding: 4vh;
        margin: 20px;
        width: auto;
    }

    label {
        font-size: 0.8rem;
        padding: none;
    }

    input,
    select {
        width: 10rem;
        margin-left: 1.5rem;
    }

    select {
        width: 10.2rem;
    }
}