#container_scroll-widget {
    position: fixed;
    top: 80vh;
    left: 85vw;
    cursor: pointer;
    background-color: #2e4763;
    color: #fff;
    border-radius: 25%;
    border: 0.5px solid black;
    box-shadow: 0 5px #06101f;
    opacity: 0;
}

@media screen and (max-width: 600px) {
    #container_scroll-widget {
        svg {
            width: 80px;
            height: 80px;
        }

        top: 83vh;
        left: 65vw;
    }
}

@keyframes showArrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideArrow {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}